
html {
    font-size: 10pt;
    flex-wrap: wrap;
}

body {
    margin: 0;
    background-color: azure
}

/* header & nav styles */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a607c;
    color: white
}

.header {
    margin: 1.4rem;
    font-size: 4rem;
    font-family: cursive;
}


.nav-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-container {
    list-style-type: none;
}

.nav-link {
    margin: 1.6rem;
    
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.nav-link a:hover {
    text-decoration: underline;
}




/* profile pic styling */

.image-container{
    background-image: url("");
    display: flex;
justify-content: center;
    
}

.profile-pic {
    max-width: auto;
    max-height: 300px;
    border: 5px solid #2a607c;
    border-radius: 50%;
    margin: 1.6rem;
}


@media  screen and (max-width: 596px) {
    .image-container {
        display: flex ;
        flex-wrap: wrap;
    }
    
}


main {
    margin: 20px;
}

h1 {
    font-size: 2.6rem;
    border-bottom: 2px dotted #2a607c ;
}


/* Section - About me */

.about-me-container {
    flex-wrap: wrap;
    margin: 2;
    justify-content: center;
}


.about-paragraph {
    font-size: 1.6rem;
}

/* Section - work */

img {
max-width: 300px;
max-height: 500px;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-left: 50px;
}


@media screen and (max-width: 596px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header {
        font-size: 2.5rem;
    }

    .nav-link a {
        font-size: medium;
    }

     div {
        gap: 50px
    }

    img {
        margin-left: 65px
    }
    
}


@media screen and (max-width: 789px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header {
        font-size: 2.5rem;
    }

    .nav-link a {
        font-size: medium;
    }

     div {
        gap: 50px
    }

    img {
        margin-left: 65px
    }
    
}