body {
    margin: 0;
}

/* header & nav styles */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style-type: none;
    display: inline-block;
}


@media screen and (max-width: 596px) {
    .header, .nav-links {
        flex-direction: column;
        align-items: center;
    }
    
}