.root {
    --blue:#2a607c;
}

html {
    font-size: 10pt;
    flex-wrap: wrap;
}

body {
    margin: 0;
    background-color: azure
}

/* header & nav styles */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a607c;
    color: white
}

.header {
    margin: 1.4rem;
    font-size: 4rem;
}


.nav-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-container {
    list-style-type: none;
}

.nav-link {
    margin: 1.6rem;
    
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.nav-link a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 596px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header {
        font-size: 2.5rem;
    }

    .nav-link a {
        font-size: medium;
    }
    
}


/* profile pic styling */

.image-container{
    background-image: url("");
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.profile-pic {
    max-width: auto;
    max-height: 300px;
    border: 5px solid #2a607c;
    border-radius: 50%;
    margin: 1.6rem;
}


@media  screen and (max-width: 596px) {
    .image-container {
        display: flex ;
        flex-wrap: wrap;
        width: 0%;
    }
    
}

/* Section - About me */

.about-me {
    margin: 20px;
}

.h1-me {
    font-size: 2.6rem;
    border-bottom: 2px dotted #2a607c ;
}

.h1-me:hover {
    font-size: 3rem;
}


.about-paragraph {
    font-size: 1.6rem;
}